name: Test
on:
  pull_request:
  push:
    branches:
    - main
jobs:
  test_ipad:
    name: Test-iPad
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Force Xcode 26.0
        run: sudo xcode-select -switch /Applications/Xcode_26.0.app
      - name: Make project
        run: make generate
      - name: Run tests
        run: make test-iPad
  test_iphone:
    name: Test-iPhone
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Force Xcode 26.0
        run: sudo xcode-select -switch /Applications/Xcode_26.0.app
      - name: Make project
        run: make generate
      - name: Run tests
        run: make test-iPhone
  test_iphone_ios17:
    name: Test-iPhone-iOS17
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Force Xcode 15.3
        run: sudo xcode-select -switch /Applications/Xcode_15.3.app
      - name: Make project
        run: make generate
      - name: Run tests
        run: make test-iPhone-iOS17
